@charset "UTF-8";
body{
    background-color:#1b011b;
}
header{
    background: linear-gradient(#4c0e479f, #360730ad);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 100%;
    height: auto;
}
main{
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 5px;

}
nav{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;


}
nav > a{
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}
nav > a:hover{
    color:#1b011bc2 ;
    border-radius: 5px;
    background-color: yellow;
    text-decoration: none;
}

h1{
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
}
h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px;
}
p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}
p > a{
    text-decoration: none;
}
p >a:hover{
    text-decoration: underline;
}
a{
    color: white;
}
aside{
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.11);
    text-align: center;
}
aside > p{
    text-align: center;
}
footer{
    text-align: center;
    padding: 0.7px;
    background-color: rgba(128, 128, 128, 0.116);
    color: white;
    font-family: 'Poppins', sans-serif;
}

