@charset "UTF-8";

@keyframes balance{
    0%{
        transform: rotate(20deg) ;
    }
    
}
body{
    max-width: 100%;
    background-color:#191414;
}
header{
    background-color: #191414;
}
#oque > h2 {
    font-size: 100px;
    padding: -10px;
    font-weight: 900;
}
#dnv > h2 {
    font-size: 100px;
    padding: -10px;
    font-weight: 900;
}
div#dnv{
    font-size: 100px;
    right: 10%;
    bottom: 10%;
}
div#oque{
    font-size: 50px;
    padding: -10px;
}
div#rinomo{
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.288);
    position: absolute;
    padding: 12px 14px;
    flex-grow: 1;
    bottom: 40%;
    font-size: 70px;
    transform: rotate(-20deg);
    animation: balance 900ms linear alternate 150ms infinite;
}
div#atommo{
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 12px 14px;
    position: absolute;
    flex-grow: 1;
    bottom: 45%;
    left: 85%;
    font-size: 90px;
    transform: rotate(-20deg);
    animation: balance 900ms linear alternate 150ms infinite;
}
div#compmo{
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 12px 14px;
    position: absolute;
    flex-grow: 1;
    bottom: 3px;
    right: 15%;
    font-size: 70px;
    transform: rotate(-20deg);
    animation: balance 900ms linear alternate 150ms infinite;
}
img{
    max-width: 100%;
    height: auto;
    align-items: flex-end;
}
main{
    text-align: center;
    background: linear-gradient(to right, #006630,#1db954, #1ed760);
    border-radius: 30px;
    padding: 10px;
}
nav{

}
nav > a{

}
nav > a:hover{
    color: #1ed760 ;
    text-decoration: none;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}
h2{
    display: block;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
}
h2#headt{
    text-align: center;
    padding: 50px;
}
h2#headt2{
    
}
h2#maint{
    display: block;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
}
h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
}
p{
    font-size: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}
p > a{
    text-decoration: none;
}
p >a:hover{
    text-decoration: underline;
}
a{
    color: white;
}
aside{
    border-radius: 5px;
    background-color: #191414;
    text-align: center;
}
aside > p{
    text-align: center;
}
footer{
    text-align: center;
    padding: 0.7px;
    background-color:#191414;
    color: white;
    font-family: 'Poppins', sans-serif;
}

