body{
    background-color: black;
    
}
h1{
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: white;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}
p{
    font-family: 'Poppins', sans-serif;
    color: white;
}
